{{ define "gqlgo/mutation_input" }}

{{- /*gotype: entgo.io/ent/entc/gen.Graph*/ -}}

{{- /*
    Mutation inputs live in the gqlgo subpackage (not the ent root package) so
    entgqlgo can coexist with entgql, which owns ent.Create<T>Input and may alias
    builder types into per-entity subpackages. Defining types or builder methods
    in the ent root would collide (duplicate declarations / methods on non-local
    types). Resolvers apply inputs via input.Mutate(builder.Mutation()).
*/ -}}

{{- with extend $ "Package" "gqlgo" }}
        {{ template "header" . }}
{{- end }}

{{ $entPkg := base $.Config.Package }}
{{ $gqlNodes := gqlgoFilterNodes $.Nodes (gqlgoSkipMode "mutation_create_input" "mutation_update_input") }}
import (
    {{- if gqlgoNeedsEntbuilder $.Nodes }}
        "entgo.io/ent/runtime/entbuilder"
    {{- end }}
    "{{ $.Config.Package }}"
    {{- range $n := $gqlNodes }}
        "{{ $.Config.Package }}/{{ $n.Package }}"
    {{- end }}
)

{{- range $n := gqlgoMutationInputs $.Nodes }}
    {{- $names := gqlgoNodePaginationNames $n.Type }}
    {{- $input := $n.Input }}
    {{- $fields := $n.InputFields }}
    {{- $edges := $n.InputEdges }}
    {{- if $n.IsCreate }}
    // {{ $input }} represents a mutation input for creating {{ plural $names.Node | lower }}.
    {{- else }}
    // {{ $input }} represents a mutation input for updating {{ plural $names.Node | lower }}.
    {{- end }}
    type {{ $input }} struct {
        {{- range $f := $fields }}
            {{- if $f.ClearOp }}
                {{ print "Clear" $f.StructField }} bool
            {{- end }}
            {{ $f.StructField }} {{ if $f.IsPointer }}*{{ end }}{{ $f.Type }}
            {{- if $f.AppendOp }}
                {{ $f.MutationAppend }} {{ if $f.IsPointer }}*{{ end }}{{ $f.Type }}
            {{- end }}
        {{- end }}
        {{- range $e := $edges }}
            {{- if and (not $n.IsCreate) $e.Optional }}
                {{ $e.MutationClear }} bool
            {{- end }}
            {{- if $e.Unique }}
                {{- $structField := print (pascal $e.Name) "ID" }}
                {{ $structField }} {{ if or (not $n.IsCreate) $e.Optional }}*{{ end }}{{ $e.Type.ID.Type }}
            {{- else }}
                {{- if $n.IsCreate }}
                    {{- $structField := print (singular $e.Name | pascal) "IDs" }}
                    {{ $structField }} []{{ $e.Type.ID.Type }}
                {{- else }}
                    {{ $e.MutationAdd }} []{{ $e.Type.ID.Type }}
                    {{ $e.MutationRemove }} []{{ $e.Type.ID.Type }}
                {{- end }}
            {{- end }}
        {{- end }}

        {{- with $tmpls := matchTemplate "helper/gql_mutation_input/fields/*"  }}
            {{- range $tmpl := $tmpls }}
                {{- xtemplate $tmpl $n }}
            {{- end }}
        {{- end }}
    }

    // Mutate applies the {{ $input }} on the {{ $n.MutationName }} builder.
    func (i *{{ $input }}) Mutate(m *{{ $entPkg }}.{{ $n.MutationName }}) {
        {{- /* The order of the operators is purposefully sorted: Clear, Set and Append */}}
        {{- range $f := $fields }}
            {{- if $f.ClearOp }}
                if i.{{ print "Clear" $f.StructField }} {
                    {{ gqlgoMutationClearField $f }}
                }
            {{- end }}
            {{- if or $f.Type.Nillable $f.IsPointer }}
                if v := i.{{ $f.StructField }}; v != nil {
                    {{ gqlgoMutationSetField $f (printf "%sv" ($f.IsPointer | gqlgoDeref)) }}
                }
            {{- else }}
                {{ gqlgoMutationSetField $f (printf "i.%s" $f.StructField) }}
            {{- end }}
            {{- if $f.AppendOp }}
                if i.{{ $f.MutationAppend }} != nil {
                    {{ gqlgoMutationAppendField $f (printf "%si.%s" ($f.IsPointer | gqlgoDeref) $f.StructField) }}
                }
            {{- end }}
        {{- end }}
        {{- range $e := $edges }}
           {{- if and (not $n.IsCreate) $e.Optional }}
                if i.{{ $e.MutationClear }} {
                    {{ gqlgoMutationClearEdge $e }}
                }
            {{- end }}
            {{- if $e.Unique }}
                {{- $structField := print (pascal $e.Name) "ID" }}
                {{- if or (not $n.IsCreate) $e.Optional }}
                    if v := i.{{ $structField }}; v != nil {
                        {{ gqlgoMutationSetEdgeID $e "*v" }}
                    }
                {{- else }}
                    {{ gqlgoMutationSetEdgeID $e (printf "i.%s" $structField) }}
                {{- end }}
            {{- else }}
                {{- if $n.IsCreate }}
                    {{- $structField := print (singular $e.Name | pascal) "IDs" }}
                    if v := i.{{ $structField }}; len(v) > 0 {
                        {{ gqlgoMutationAddEdgeIDs $e "v" }}
                    }
                {{- else }}
                    if v := i.{{ $e.MutationAdd }}; len(v) > 0 {
                        {{ gqlgoMutationAddEdgeIDs $e "v" }}
                    }
                    if v := i.{{ $e.MutationRemove }}; len(v) > 0 {
                        {{ gqlgoMutationRemoveEdgeIDs $e "v" }}
                    }
                {{- end }}
            {{- end }}
        {{- end }}

        {{- with $tmpls := matchTemplate "helper/gql_mutation_input/mutate/*"  }}
            {{- range $tmpl := $tmpls }}
                {{- xtemplate $tmpl $n }}
            {{- end }}
        {{- end }}
    }
{{- end }}
{{ end }}
