{{/*
Copyright 2019-present Facebook Inc. All rights reserved.
This source code is licensed under the Apache 2.0 license found
in the LICENSE file in the root directory of this source tree.
*/}}

{{ define "gqlgo/where_input" }}

{{- /*gotype: entgo.io/ent/entc/gen.Graph*/ -}}

{{- with extend $ "Package" "gqlgo" }}
        {{ template "header" . }}
{{- end }}


{{ $gqlNodes := gqlgoFilterNodes $.Nodes (gqlgoSkipMode "where_input") }}
{{ $entPkg := base $.Config.Package }}

import (
	"errors"
	"fmt"
	"time"

	"{{ $.Config.Package }}"
    "{{ $.Config.Package }}/predicate"
	{{- range $n := $gqlNodes }}
		"{{ $.Config.Package }}/{{ $n.Package }}"
	{{- end }}

    "github.com/graphql-go/graphql"
)

// WhereInput GraphQL InputObject types for filtering
var (
{{- range $n := $gqlNodes }}
    {{ $names := gqlgoNodePaginationNames $n }}
    // {{ $names.WhereInput }}Type is the GraphQL InputObject for filtering {{ $n.Name }} queries.
    {{ $names.WhereInput }}Type *graphql.InputObject
{{- end }}
)

func init() {
{{- range $n := $gqlNodes }}
    {{ $comparableFields := list $n.ID }}
    {{ $names := gqlgoNodePaginationNames $n }}
    {{ with $annotation := $n.ID.Annotations.EntGQL }}
        {{ if gqlgoIsSkipMode $annotation.Skip "where_input" }}
            {{ $comparableFields = list }}
        {{ end }}
    {{ end }}
    {{ range $f := gqlgoFilterFields $n.Fields (gqlgoSkipMode "where_input") }}
        {{ if $f.Type.Comparable }}
            {{ $comparableFields = append $comparableFields $f }}
        {{ end }}
    {{ end }}
    {{ $names.WhereInput }}Type = graphql.NewInputObject(graphql.InputObjectConfig{
        Name:        "{{ $names.WhereInput }}",
        Description: "{{ $names.WhereInput }} is used for filtering {{ $n.Name }} objects.",
        Fields: graphql.InputObjectConfigFieldMapThunk(func() graphql.InputObjectConfigFieldMap {
            return graphql.InputObjectConfigFieldMap{
                "not": &graphql.InputObjectFieldConfig{
                    Type:        {{ $names.WhereInput }}Type,
                    Description: "Logical NOT of the condition.",
                },
                "and": &graphql.InputObjectFieldConfig{
                    Type:        graphql.NewList(graphql.NewNonNull({{ $names.WhereInput }}Type)),
                    Description: "Logical AND of conditions.",
                },
                "or": &graphql.InputObjectFieldConfig{
                    Type:        graphql.NewList(graphql.NewNonNull({{ $names.WhereInput }}Type)),
                    Description: "Logical OR of conditions.",
                },
                {{- range $f := $comparableFields }}
                {{- range $op := $f.Ops }}
                {{- $field := print $f.StructField $op.Name }}
                {{- $jsonTag := print $f.Name "_" $op.Name }}
                {{- if eq $op.Name "EQ" }}
                    {{- $field = $f.StructField }}
                    {{- $jsonTag = $f.Name }}
                {{- end }}
                "{{ camel $jsonTag }}": &graphql.InputObjectFieldConfig{
                    {{- if $op.Niladic }}
                    Type: graphql.Boolean,
                    {{- else if $f.IsEnum }}
                    Type: {{ if $op.Variadic }}graphql.NewList(graphql.NewNonNull({{ $n.Name }}{{ $f.StructField }}Enum)){{ else }}{{ $n.Name }}{{ $f.StructField }}Enum{{ end }},
                    {{- else if $op.Variadic }}
                    Type: graphql.NewList(graphql.NewNonNull({{ gqlgoType $f }})),
                    {{- else }}
                    Type: {{ gqlgoType $f }},
                    {{- end }}
                },
                {{- end }}
                {{- end }}
                {{- range $e := gqlgoFilterEdges $n.Edges (gqlgoSkipMode "where_input") }}
                {{- $field := print "has" $e.StructField }}
                {{- $jsonTag := print "has_" $e.Name }}
                "{{ camel $jsonTag }}": &graphql.InputObjectFieldConfig{
                    Type:        graphql.Boolean,
                    Description: "Check if {{ $e.Name }} edge exists.",
                },
                {{- $names := gqlgoNodePaginationNames $e.Type }}
                "{{ camel $jsonTag }}With": &graphql.InputObjectFieldConfig{
                    Type:        graphql.NewList(graphql.NewNonNull({{ $names.WhereInput }}Type)),
                    Description: "Filter by {{ $e.Name }} edge with conditions.",
                },
                {{- end }}
            }
        }),
    })
{{- end }}
}

{{ range $n := $gqlNodes }}
    {{ $comparableFields := list $n.ID }}
    {{ $names := gqlgoNodePaginationNames $n }}
    {{ with $annotation := $n.ID.Annotations.EntGQL }}
        {{ if gqlgoIsSkipMode $annotation.Skip "where_input" }}
            {{ $comparableFields = list }}
        {{ end }}
    {{ end }}
    {{ range $f := gqlgoFilterFields $n.Fields (gqlgoSkipMode "where_input") }}
        {{ if $f.Type.Comparable }}
            {{ $comparableFields = append $comparableFields $f }}
        {{ end }}
    {{ end }}
    {{ $name := $names.Node }}
    {{ $input := $names.WhereInput }}
    // {{ $input }} represents a where input for filtering {{ $n.Name }} queries.
    type {{ $input }} struct {
        Predicates []predicate.{{ $n.Name }} `json:"-"`
        Not *{{ $input }} `json:"not,omitempty"`
        Or  []*{{ $input }} `json:"or,omitempty"`
        And []*{{ $input }} `json:"and,omitempty"`
        {{- range $f := $comparableFields }}

            // "{{ $f.Name }}" field predicates.
            {{- range $op := $f.Ops }}
                {{- $field := print $f.StructField $op.Name }}
                {{- $jsonTag := print $f.Name "_" $op.Name }}
                {{- /* We name the field filter "<Field>EQ()" as "<Field>()", because it's cleaner (e.g. "name_eq" -> "name") */}}
                {{- if eq $op.Name "EQ" }}
                    {{- $field = $f.StructField }}
                    {{- $jsonTag = $f.Name }}
                {{- end }}
                {{- $type := $f.Type }}
                {{- if $op.Niladic }}
                    {{- $type = "bool" }}
                {{- else if $op.Variadic }}
                    {{- $type = print "[]" $type }}
                {{- else if not $f.Type.RType.IsPtr }}
                    {{- $type = print "*" $type }}
                {{- end }}
                {{ $field }} {{ $type }} `json:"{{ camel $jsonTag }},omitempty"`
            {{- end }}
        {{- end }}

        {{ range $e := gqlgoFilterEdges $n.Edges (gqlgoSkipMode "where_input") }}

            // "{{ $e.Name }}" edge predicates.
            {{- $field := print "Has" $e.StructField }}
            {{- $jsonTag := print "has_" $e.Name }}
            {{ $field }} *bool `json:"{{ camel $jsonTag }},omitempty"`
            {{- $field = print $field "With" }}
            {{- $jsonTag = print $jsonTag "_with" }}
            {{- $names := gqlgoNodePaginationNames $e.Type }}
            {{ $field }} []*{{ $names.WhereInput }} `json:"{{ camel $jsonTag }},omitempty"`
        {{- end }}
    }

    // AddPredicates adds custom predicates to the where input to be used during the filtering phase.
    func (i *{{ $input }}) AddPredicates(predicates ...predicate.{{ $n.Name }}) {
        i.Predicates = append(i.Predicates, predicates...)
    }

    {{ $err := printf "ErrEmpty%s" $input }}

    // Filter applies the {{ $input }} filter on the {{ $n.QueryName }} builder.
    func (i *{{ $input }}) Filter(q *{{ $entPkg }}.{{ $n.QueryName }}) (*{{ $entPkg }}.{{ $n.QueryName }}, error) {
        if i == nil {
            return q, nil
        }
        p, err := i.P()
        if err != nil {
            {{- /* Skip errors only for top-level empty predicates. The rest are invalid. */}}
            if err == {{ $err }} {
               return q, nil
            }
            return nil, err
        }
        return q.Where(p), nil
    }

    // {{ $err }} is returned in case the {{ $input }} is empty.
    var {{ $err }} = errors.New("gqlgo: empty predicate {{ $input }}")

    // P returns a predicate for filtering {{ plural $n.Name | lower }}.
    // An error is returned if the input is empty or invalid.
    func (i *{{ $input }}) P() (predicate.{{ $n.Name }}, error) {
        var predicates []predicate.{{ $n.Name }}
        if i.Not != nil {
            p, err := i.Not.P()
            if err != nil {
                return nil, fmt.Errorf("%w: field 'not'", err)
            }
            predicates = append(predicates, {{ $n.Package }}.Not(p))
        }
        switch n := len(i.Or); {
        case n == 1:
            p, err := i.Or[0].P()
            if err != nil {
                return nil, fmt.Errorf("%w: field 'or'", err)
            }
            predicates = append(predicates, p)
        case n > 1:
            or := make([]predicate.{{ $n.Name }}, 0, n)
            for _, w := range i.Or {
                p, err := w.P()
                if err != nil {
                    return nil, fmt.Errorf("%w: field 'or'", err)
                }
                or = append(or, p)
            }
            predicates = append(predicates, {{ $n.Package }}.Or(or...))
        }
        switch n := len(i.And); {
        case n == 1:
            p, err := i.And[0].P()
            if err != nil {
                return nil, fmt.Errorf("%w: field 'and'", err)
            }
            predicates = append(predicates, p)
        case n > 1:
            and := make([]predicate.{{ $n.Name }}, 0, n)
            for _, w := range i.And {
                p, err := w.P()
                if err != nil {
                    return nil, fmt.Errorf("%w: field 'and'", err)
                }
                and = append(and, p)
            }
            predicates = append(predicates, {{ $n.Package }}.And(and...))
        }
        predicates = append(predicates, i.Predicates...)
        {{- range $f := $comparableFields }}
            {{- range $op := $f.Ops }}
                {{- $func := print $f.StructField $op.Name }}
                {{- $field := $func }}
                {{- /* We name the <Field>EQ() filter as <Field>(), because it's nicer (e.g. "name_eq" -> "name") */}}
                {{- if eq $op.Name "EQ" }}
                    {{- $field = $f.StructField }}
                {{- end }}
                {{- if $op.Niladic }}
                    if i.{{ $field }} {
                        predicates = append(predicates, {{ $n.Package }}.{{ $func }}())
                    }
                {{- else }}
                    {{- if $op.Variadic }}
                        if len(i.{{ $field }}) > 0 {
                            predicates = append(predicates, {{ $n.Package }}.{{ $func }}(i.{{ $field }}...))
                        }
                    {{- else }}
                        if i.{{ $field }} != nil {
                            predicates = append(predicates, {{ $n.Package }}.{{ $func }}({{ if not $f.Type.RType.IsPtr }}*{{ end }}i.{{ $field }}))
                        }
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
        {{ range $e := gqlgoFilterEdges $n.Edges (gqlgoSkipMode "where_input") }}
            {{- $func := print "Has" $e.StructField }}
            if i.{{ $func }} != nil {
                p := {{ $n.Package }}.{{ $func }}()
                if !*i.{{ $func }} {
                    p = {{ $n.Package }}.Not(p)
                }
                predicates = append(predicates, p)
            }
            {{- $func = print $func "With" }}
            if len(i.{{ $func }}) > 0 {
                with := make([]predicate.{{ $e.Type.Name }}, 0, len(i.{{ $func }}))
                for _, w := range i.{{ $func }} {
                    p, err := w.P()
                    if err != nil {
                        return nil, fmt.Errorf("%w: field '{{ $func }}'", err)
                    }
                    with = append(with, p)
                }
                predicates = append(predicates, {{ $n.Package }}.{{ $func }}(with...))
            }
        {{- end }}
        switch len(predicates) {
        case 1:
            return predicates[0], nil
        default:
            return {{ $n.Package }}.And(predicates...), nil
        }
    }

    // Parse{{ $input }} converts a map[string]interface{} from GraphQL into a typed {{ $input }}.
    func Parse{{ $input }}(m map[string]interface{}) (*{{ $input }}, error) {
        if m == nil {
            return nil, nil
        }
        input := &{{ $input }}{}

        // Parse not
        if v, ok := m["not"]; ok && v != nil {
            if notMap, ok := v.(map[string]interface{}); ok {
                notInput, err := Parse{{ $input }}(notMap)
                if err != nil {
                    return nil, fmt.Errorf("parsing 'not': %w", err)
                }
                input.Not = notInput
            }
        }

        // Parse and
        if v, ok := m["and"]; ok && v != nil {
            if andSlice, ok := v.([]interface{}); ok {
                for i, item := range andSlice {
                    if itemMap, ok := item.(map[string]interface{}); ok {
                        andInput, err := Parse{{ $input }}(itemMap)
                        if err != nil {
                            return nil, fmt.Errorf("parsing 'and[%d]': %w", i, err)
                        }
                        input.And = append(input.And, andInput)
                    }
                }
            }
        }

        // Parse or
        if v, ok := m["or"]; ok && v != nil {
            if orSlice, ok := v.([]interface{}); ok {
                for i, item := range orSlice {
                    if itemMap, ok := item.(map[string]interface{}); ok {
                        orInput, err := Parse{{ $input }}(itemMap)
                        if err != nil {
                            return nil, fmt.Errorf("parsing 'or[%d]': %w", i, err)
                        }
                        input.Or = append(input.Or, orInput)
                    }
                }
            }
        }

        {{- range $f := $comparableFields }}
        {{- range $op := $f.Ops }}
        {{- $field := print $f.StructField $op.Name }}
        {{- $jsonTag := print $f.Name "_" $op.Name }}
        {{- if eq $op.Name "EQ" }}
            {{- $field = $f.StructField }}
            {{- $jsonTag = $f.Name }}
        {{- end }}
        // Parse {{ camel $jsonTag }}
        if v, ok := m["{{ camel $jsonTag }}"]; ok && v != nil {
            {{- if $op.Niladic }}
            if b, ok := v.(bool); ok {
                input.{{ $field }} = b
            }
            {{- else if $f.IsEnum }}
                {{- /* graphql-go decodes enum input to the typed Go value;
                       fmt.Sprint normalizes both the typed enum and a raw string. */}}
                {{- if $op.Variadic }}
            if slice, ok := v.([]interface{}); ok {
                for _, item := range slice {
                    input.{{ $field }} = append(input.{{ $field }}, {{ $f.Type }}(fmt.Sprint(item)))
                }
            }
                {{- else }}
            val := {{ $f.Type }}(fmt.Sprint(v))
            input.{{ $field }} = &val
                {{- end }}
            {{- else if $op.Variadic }}
                {{- if $f.Type.Numeric }}
            if slice, ok := v.([]interface{}); ok {
                for _, item := range slice {
                    if i, ok := item.(int); ok {
                        input.{{ $field }} = append(input.{{ $field }}, {{ $f.Type }}(i))
                    }
                }
            }
                {{- else if eq $f.Type.String "string" }}
            if slice, ok := v.([]interface{}); ok {
                for _, item := range slice {
                    if s, ok := item.(string); ok {
                        input.{{ $field }} = append(input.{{ $field }}, s)
                    }
                }
            }
                {{- else if eq $f.Type.String "time.Time" }}
            if slice, ok := v.([]interface{}); ok {
                for _, item := range slice {
                    if t, ok := item.(time.Time); ok {
                        input.{{ $field }} = append(input.{{ $field }}, t)
                    }
                }
            }
                {{- else }}
            // Unsupported variadic type: {{ $f.Type.Ident }}
                {{- end }}
            {{- else }}
                {{- if $f.Type.Numeric }}
            if i, ok := v.(int); ok {
                val := {{ $f.Type }}(i)
                input.{{ $field }} = &val
            }
                {{- else if eq $f.Type.String "string" }}
            if s, ok := v.(string); ok {
                input.{{ $field }} = &s
            }
                {{- else if eq $f.Type.String "bool" }}
            if b, ok := v.(bool); ok {
                input.{{ $field }} = &b
            }
                {{- else if eq $f.Type.String "time.Time" }}
            if t, ok := v.(time.Time); ok {
                input.{{ $field }} = &t
            }
                {{- else }}
            // Unsupported type: {{ $f.Type.Ident }}
                {{- end }}
            {{- end }}
        }
        {{- end }}
        {{- end }}

        {{- range $e := gqlgoFilterEdges $n.Edges (gqlgoSkipMode "where_input") }}
        {{- $field := print "Has" $e.StructField }}
        {{- $jsonTag := print "has_" $e.Name }}
        // Parse {{ camel $jsonTag }}
        if v, ok := m["{{ camel $jsonTag }}"]; ok && v != nil {
            if b, ok := v.(bool); ok {
                input.{{ $field }} = &b
            }
        }
        {{- $edgeNames := gqlgoNodePaginationNames $e.Type }}
        // Parse {{ camel $jsonTag }}With
        if v, ok := m["{{ camel $jsonTag }}With"]; ok && v != nil {
            if slice, ok := v.([]interface{}); ok {
                for i, item := range slice {
                    if itemMap, ok := item.(map[string]interface{}); ok {
                        withInput, err := Parse{{ $edgeNames.WhereInput }}(itemMap)
                        if err != nil {
                            return nil, fmt.Errorf("parsing '{{ camel $jsonTag }}With[%d]': %w", i, err)
                        }
                        input.{{ $field }}With = append(input.{{ $field }}With, withInput)
                    }
                }
            }
        }
        {{- end }}

        return input, nil
    }
{{- end }}
{{ end }}
