{{/*
Copyright 2019-present Facebook Inc. All rights reserved.
This source code is licensed under the Apache 2.0 license found
in the LICENSE file in the root directory of this source tree.
*/}}

{{ define "gql_mutation_input_sibling" }}

{{- /*gotype: entgo.io/contrib/entgql.mutationInputEntityData*/ -}}

{{ $.Config.Header }}

package mutationinputs

{{ $inputs := $.Inputs }}
{{ $entityName := $.EntityName }}

{{- /* Collect all nodes needed for imports */}}
{{- $entityNode := index $inputs 0 }}
{{- $pkg := $entityNode.Type.Package }}

import (
    "context"

    "entgo.io/contrib/entgql/gqlinput"
    "entgo.io/contrib/entgql/gqlwhere"
    "{{ $.Config.Package }}/{{ $pkg }}"
)

{{- range $n := $inputs }}
    {{- $names := nodePaginationNames $n.Type }}
    {{- $input := $n.Input }}
    {{- $fields := $n.InputFields }}
    {{- $edges := $n.InputEdges }}
    {{- if $n.IsCreate }}
    // {{ $input }} represents a mutation input for creating {{ plural $names.Node | lower }}.
    {{- else }}
    // {{ $input }} represents a mutation input for updating {{ plural $names.Node | lower }}.
    {{- end }}
    type {{ $input }} struct {
        {{- range $f := $fields }}
            {{- if $f.ClearOp }}
                {{ print "Clear" $f.StructField }} bool `mutate:"fc:{{ $f.Name }}" gql:"{{ $f.ClearGQLName }}" gqlscalar:"Boolean"`
            {{- end }}
            {{ $f.StructField }} {{ if $f.IsPointer }}*{{ end }}{{ $f.Type }} `mutate:"f:{{ $f.Name }}" gql:"{{ $f.GQLName }}"{{ with $s := inputScalar $n.Type $f }} gqlscalar:"{{ $s }}"{{ end }}`
            {{- if $f.AppendOp }}
                {{ $f.MutationAppend }} {{ if $f.IsPointer }}*{{ end }}{{ $f.Type }} `mutate:"fa:{{ $f.Name }}" gql:"{{ $f.AppendGQLName }}"{{ with $s := inputScalar $n.Type $f }} gqlscalar:"{{ $s }}"{{ end }}`
            {{- end }}
        {{- end }}
        {{- range $e := $edges }}
            {{- if and (not $n.IsCreate) $e.Optional }}
                {{ $e.MutationClear }} bool `mutate:"ec:{{ $e.Name }}" gql:"{{ edgeClearGQLName $e }}" gqlscalar:"Boolean"`
            {{- end }}
            {{- if $e.Unique }}
                {{- $structField := print (pascal $e.Name) "ID" }}
                {{ $structField }} {{ if or (not $n.IsCreate) $e.Optional }}*{{ end }}{{ $e.Type.ID.Type }} `mutate:"e:{{ $e.Name }}" gql:"{{ edgeInputGQLName $e $n.IsCreate }}" gqlscalar:"ID"`
            {{- else }}
                {{- if $n.IsCreate }}
                    {{- $structField := print (singular $e.Name | pascal) "IDs" }}
                    {{ $structField }} []{{ $e.Type.ID.Type }} `mutate:"ea:{{ $e.Name }}" gql:"{{ edgeInputGQLName $e $n.IsCreate }}" gqlscalar:"ID"`
                {{- else }}
                    {{ $e.MutationAdd }} []{{ $e.Type.ID.Type }} `mutate:"ea:{{ $e.Name }}" gql:"{{ edgeAddGQLName $e }}" gqlscalar:"ID"`
                    {{ $e.MutationRemove }} []{{ $e.Type.ID.Type }} `mutate:"er:{{ $e.Name }}" gql:"{{ edgeRemoveGQLName $e }}" gqlscalar:"ID"`
                {{- end }}
            {{- end }}
        {{- end }}

    }

    // Mutate applies the {{ $input }} on the {{ $n.MutationName }} builder.
    // Field/edge routing is driven by the `mutate` struct tags above; see
    // entgo.io/contrib/entgql/gqlinput.
    func (i {{ $input }}) Mutate(m *{{ $pkg }}.{{ $n.MutationName }}) {
        gqlinput.Mutate(i, m)
    }

    // UnmarshalGQLContext decodes a GraphQL input object into the mutation input,
    // replacing gqlgen's per-type generated unmarshaler (see gqlwhere.Decode).
    func (i *{{ $input }}) UnmarshalGQLContext(ctx context.Context, v any) error {
        return gqlwhere.Decode(ctx, "{{ $input }}", i, v)
    }

    {{- range $b := $n.Builders }}
    // Set{{ $b }}Input applies the change-set in the {{ $input }} on the {{ $b }} builder.
    func Set{{ $b }}Input(c *{{ $pkg }}.{{ $b }}, i {{ $input }}) *{{ $pkg }}.{{ $b }} {
        i.Mutate(c.Mutation())
        return c
    }

    {{- end}}
{{- end }}
{{ end }}
