{{/*
Copyright 2019-present Facebook Inc. All rights reserved.
This source code is licensed under the Apache 2.0 license found
in the LICENSE file in the root directory of this source tree.
*/}}

{{ define "gql_where_input_entity" }}

{{- /*gotype: entgo.io/contrib/entgql.whereInputEntityData*/ -}}

{{ $pkg := base $.Config.Package }}
{{ $.Config.Header }}

package {{ $pkg }}

{{ $n := $.Node }}
{{ $names := nodePaginationNames $n }}
{{ $input := $names.WhereInput }}

import (
    "{{ $.Config.Package }}/whereinputs"
)

// {{ $input }} is a type alias re-exported from the whereinputs sibling subpackage.
// Consumer code referencing {{ $pkg }}.{{ $input }} continues to resolve via this alias.
type {{ $input }} = whereinputs.{{ $input }}

{{ $err := printf "ErrEmpty%s" $input -}}
// {{ $err }} is re-exported from the whereinputs sibling subpackage.
// Consumer code referencing {{ $pkg }}.{{ $err }} continues to resolve via this forwarding var.
var {{ $err }} = whereinputs.{{ $err }}

{{ end }}
