{{/*
Copyright 2019-present Facebook Inc. All rights reserved.
This source code is licensed under the Apache 2.0 license found
in the LICENSE file in the root directory of this source tree.
*/}}

{{ define "gql_where_input_subpkg" }}

{{- /*gotype: entgo.io/contrib/entgql.whereInputEntityData*/ -}}

{{ $.Config.Header }}

package whereinputs

{{ $n := $.Node }}
{{ $comparableFields := list $n.ID }}
{{ $names := nodePaginationNames $n }}
{{ with $annotation := $n.ID.Annotations.EntGQL }}
    {{ if isSkipMode $annotation.Skip "where_input" }}
        {{ $comparableFields = list }}
    {{ end }}
{{ end }}
{{ range $f := filterFields $n.Fields (skipMode "where_input") }}
    {{ if $f.Type.Comparable }}
        {{ $comparableFields = append $comparableFields $f }}
    {{ end }}
{{ end }}
{{ $filteredEdges := filterEdges $n.Edges (skipMode "where_input") }}

import (
    "entgo.io/contrib/entgql/gqlwhere"
    "{{ $.Config.Package }}/predicate"
    "{{ $.Config.Package }}/{{ $n.Package }}"
)

{{ $name := $names.Node }}
{{ $input := $names.WhereInput }}
{{ $err := printf "ErrEmpty%s" $input }}
// {{ $input }} represents a where input for filtering {{ $n.Name }} queries.
type {{ $input }} struct {
    Predicates []predicate.{{ $n.Name }} `json:"-"`
    Not *{{ $input }} `json:"not,omitempty"`
    Or  []*{{ $input }} `json:"or,omitempty"`
    And []*{{ $input }} `json:"and,omitempty"`
    {{- range $f := $comparableFields }}

        // "{{ $f.Name }}" field predicates.
        {{- range $op := safeOps $f }}
            {{- $field := print $f.StructField $op.Name }}
            {{- $jsonTag := print $f.Name "_" $op.Name }}
            {{- /* We name the field filter "<Field>EQ()" as "<Field>()", because it's cleaner (e.g. "name_eq" -> "name") */}}
            {{- if eq $op.Name "EQ" }}
                {{- $field = $f.StructField }}
                {{- $jsonTag = $f.Name }}
            {{- end }}
            {{- $type := $f.Type }}
            {{- if $op.Niladic }}
                {{- $type = "bool" }}
            {{- else if $op.Variadic }}
                {{- $type = print "[]" $type }}
            {{- else if not $f.Type.RType.IsPtr }}
                {{- $type = print "*" $type }}
            {{- end }}
            {{ $field }} {{ $type }} `json:"{{ camel $jsonTag }},omitempty"`
        {{- end }}
    {{- end }}

    {{ range $e := $filteredEdges }}

        // "{{ $e.Name }}" edge predicates.
        {{- $field := print "Has" $e.StructField }}
        {{- $jsonTag := print "has_" $e.Name }}
        {{ $field }} *bool `json:"{{ camel $jsonTag }},omitempty"`
        {{- $field = print $field "With" }}
        {{- $jsonTag = print $jsonTag "_with" }}
        {{- $names := nodePaginationNames $e.Type }}
        {{ $field }} []*{{ $names.WhereInput }} `json:"{{ camel $jsonTag }},omitempty"`
    {{- end }}
}

// ErrEmpty{{ $input }} is returned in case the {{ $input }} is empty.
var {{ $err }} = gqlwhere.NewEmptyError("{{ base $.Config.Package }}: empty predicate {{ $input }}")

var registry{{ $input }} = gqlwhere.NewRegistry[predicate.{{ $n.Name }}](
	{{ $n.Package }}.F, {{ $n.Package }}.E,
	{{ $n.Package }}.Not, {{ $n.Package }}.And, {{ $n.Package }}.Or,
	{{ $err }},
).Warm((*{{ $input }})(nil))

// AddPredicates adds custom predicates to the where input to be used during the filtering phase.
func (i *{{ $input }}) AddPredicates(predicates ...predicate.{{ $n.Name }}) {
	i.Predicates = append(i.Predicates, predicates...)
}

// Filter applies the {{ $input }} filter on the {{ $n.QueryName }} builder.
func (i *{{ $input }}) Filter(q *{{ $n.Package }}.{{ $n.QueryName }}) (*{{ $n.Package }}.{{ $n.QueryName }}, error) {
	if i == nil {
		return q, nil
	}
	p, err := registry{{ $input }}.FilterP(i)
	if err != nil || p == nil {
		return q, err
	}
	return q.Where(p), nil
}

// P returns a predicate for filtering {{ plural $n.Name | lower }}.
// An error is returned if the input is empty or invalid.
func (i *{{ $input }}) P() (predicate.{{ $n.Name }}, error) {
	return registry{{ $input }}.P(i)
}
{{ end }}
